{% extends "layout.html" %}
{% block scripts %}
    {{super()}}
    {{pagedown.include_pagedown()}}
{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
{% block about %}
    <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
    <h4 class="category">Account</h4>
    <ul class="sidebar-menu">
      <li class="active"><a href="user-private-profile.html"><i class="icon-user-1"></i> <span>Edit Profile</span></a></li>
      <li><a href="user-private-users.html"><i class="fa fa-group"></i> <span>Communities</span></a></li>
      <li><a href="user-private-messages.html"><i class="icon-comment-fill-1"></i> <span>Messages</span></a></li>
      <li><a href="login.html"><i class="icon-unlock-fill"></i> <span>Logout</span></a></li>
    </ul>
{% endblock %}
{% block body %}    
	{% if current_user.is_authenticated %}
    <h1>Send a Private Message to {{recipientName}} </h1>
    <p>
    <p>
    <div id = "maincontent">
        <form method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.title) }}
            {{ wtf.form_field(form.text) }}
            {{ form.srcLibEntries }}
            {{ wtf.form_field(form.submit) }}
        </form>
    </div>
	{% endif %}
{% endblock %}